# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.txt text
*.svg text
*.htm text
*.html text
*.js text
*.css text
*.c text
*.cc text
*.cpp text
*.cxx text
*.h text
*.hpp text
*.hxx text
*.hh text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.7z binary
*.ico binary
*.exe binary
*.dll binary
*.a binary
*.lib binary
*.pdf binary
*.ttf binary
*.odt binary
*.jpg binary
*.jpeg binary
*.png binary
*.webp binary
*.obj binary
*.3ds binary
*.bmp binary
*.dds binary
*.tga binary
*.tif binary
*.gif binary
