//#include "wx/msw/wx.rc"
#include <windows.h>
#include "resource.h"

// Application icon(s)
aaaa ICON "8ball_64.ico"

//IDI_APPICON ICON  DISCARDABLE  "benni.ico"

// Application manifest for DPI awareness (xml)!
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"

1 VERSIONINFO
FILEVERSION     1,8,0,2
PRODUCTVERSION  1,8,0,2
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "(c) 2026 by <BenjaminHampe@gmx.de>"
      VALUE "LegalCopyright", "(c) 2026 by <BenjaminHampe@gmx.de>"
      VALUE "FileDescription", "8-Zip"
      VALUE "InternalName", "8-Zip"
      VALUE "OriginalFilename", "8-Zip"
      VALUE "ProductName", "8-Zip"
      VALUE "FileVersion", "v1.8.0.2 (release)"
      VALUE "ProductVersion", "v1.8.0.2 (release)"
    END
  END

    // 0x0809 = Englisch (UK), 1252 = Latin‑1 Codepage
    // 0x0407 = German, 1252
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
