1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Benjamin Hampe <benjaminhampe@gmx.de>"
      VALUE "FileDescription", "AzimutProjection Irrlicht OpenGL"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "AzimutProjection Irrlicht OpenGL"
      VALUE "LegalCopyright", "(c) 2024 Benjamin Hampe <benjaminhampe@gmx.de>"
      VALUE "OriginalFilename", "AzimutProjection Irrlicht OpenGL"
      VALUE "ProductName", "AzimutProjection Irrlicht OpenGL"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

IDI_ICON1   ICON    DISCARDABLE   "icon.ico"
