[Desktop Entry]
Version=1.5
Type=Application
Name=FLTube
GenericName=Youtube player
Name[es]=FLTube
GenericName[es]=Reproductor de Youtube
Comment=Search and stream Youtube videos. For low-resources PC's. Written for FLTK and powered by yt-dlp.
Comment[es]=Busca y reproduce videos desde Youtube. Para PC's de bajos recursos. Escrito para FLTK y potenciado por yt-dlp.
TryExec=/usr/local/bin/fltube
Exec=fltube
Icon=/usr/local/share/icons/fltube/256x256.png
X-FullPathIcon=/usr/local/share/icons/fltube/256x256.png
Terminal=false
Categories=AudioVideo;Video;
SingleMainWindow=true
Keywords=Youtube;stream;
